In [1]:
import pandas as pd
import numpy as np
import os

In [8]:
path = "../data/raw/training_data.csv"
df = pd.read_csv(path, sep=",")

In [9]:
print("âœ… Data loaded. Shape:", df.shape)
df.head()

âœ… Data loaded. Shape: (64118, 13)

,date_time,temperature,humidity,pressure,wind_speed,wind_direction,precipitation,cloud_coverage,weather_condition,city,latitude,longitude,country
0,2024-05-16 13:15,26.6,24,1012.0,13.3,338,0.0,30,Partly Cloudy,Kabul,34.52,69.18,Afghanistan
1,2024-05-16 10:45,19.0,94,1012.0,11.2,320,0.1,75,Partly cloudy,Tirana,41.33,19.82,Albania
2,2024-05-16 09:45,23.0,29,1011.0,15.1,280,0.0,0,Sunny,Algiers,36.76,3.05,Algeria
3,2024-05-16 10:45,6.3,61,1007.0,11.9,215,0.3,100,Light drizzle,Andorra La Vella,42.50,1.52,Andorra
4,2024-05-16 09:45,26.0,89,1011.0,13.0,150,0.0,50,Partly cloudy,Luanda,-8.84,13.23,Angola

In [10]:
df["date_time"] = pd.to_datetime(df["date_time"], errors="coerce")

print("ðŸ§¼ Null values:\n", df.isnull().sum())

df.dropna(inplace=True)

ðŸ§¼ Null values:
 date_time            0
temperature          0
humidity             0
pressure             0
wind_speed           0
wind_direction       0
precipitation        0
cloud_coverage       0
weather_condition    0
city                 0
latitude             0
longitude            0
country              0
dtype: int64

In [11]:
df["hour"] = df["date_time"].dt.hour
df["day"] = df["date_time"].dt.day
df["weekday"] = df["date_time"].dt.weekday
df["month"] = df["date_time"].dt.month

In [12]:
df["city"] = df["city"].str.title()
df["country"] = df["country"].str.title()
df["weather_condition"] = df["weather_condition"].str.lower().str.strip()

In [13]:
os.makedirs("../data/processed", exist_ok=True)
df.to_csv("../data/processed/training_data_p1.csv", index=False)

print("âœ… Cleaned data saved to '../data/processed/training_data_p1.csv'")

âœ… Cleaned data saved to '../data/processed/training_data_p1.csv'